[Unit]
Description=Update bind RPZ zone files
After=named.service
[Service]
Type=oneshot
User=named
Group=named
ExecStart=/usr/local/bin/rpz_updater.sh
ReadOnlyPaths=/
ReadWritePaths=/var/lib/named/dyn
